@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-weight: 600;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f5f5;
}

.container {
    overflow: hidden;
    width: 300px;
    padding: 20pt;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.4);
    border-radius: 10px;
}

.input {
    border-bottom: 3px solid rgb(45, 141, 232);
    position: relative;
}

input {
    height: 100%;
    width: calc(100% - 40px);
    padding: 10px 0 10px 1px;
    border: none;
    outline: none;
    font-size: 18px;
}

.input i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.check .pro {
    margin: 7px 0;
    height: 3px;
    width: 0%;
    transition: .2s;
}

.j {
    display: flex;
    align-items: center;
    gap: 10px;
}

.j:not(:last-child) {
    margin-bottom: 10px;
}

.check span {
    padding: 4px;
    color: red;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}